@import "../../style/variable.scss";

.navBarMenuBtn {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: #0f0f0f;
    transform: translateY(-130%);
    transition: 1200ms ease-in-out;

    .displayPage {
        width: 90%;
        margin: 0 auto;
        max-width: $width-display;
        display: flex;
        flex-direction: column;

        .containerMeu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 5rem;
            gap: 2rem;

            .btnMenu {
                display: flex;
                align-items: center;
                gap: 2rem;

                span {
                    font-family: "Syne", sans-serif;
                    color: #fffff7;
                    font-weight: 300;
                    font-size: 21px;
                    transition: 400ms;
                }
            }
        }

        .linkPagina {
            display: flex;
            gap: 3rem;
            width: 100%;
            flex-direction: column;
            align-items: end;
            list-style: none;
            cursor: pointer;
            margin-top: 8rem;

            li {
                a {
                    font-family: "Syne", sans-serif;
                    color: #fffff7;
                    font-weight: 600;
                    font-size: 30px;
                    transition: 400ms;

                    &:hover {
                        color: #70af69;
                    }
                }
            }
            @media (max-width: 602px) {
                margin-top: 4rem;
                @media (max-width: 375px) {
                    padding-top: 2rem;
                    li {
                        a {
                            font-size: 23px;
                        }
                    }
                }
            }
        }

        .linkRedes {
            display: flex;
            flex-wrap: wrap;
            gap: 5rem;
            padding: 2rem 0;
            width: 90%;
            background-color: #0f0f0f;
            list-style: none;
            border-top: 2px solid #1e1e1f;
            border-bottom: 2px solid #1e1e1f;
            position: absolute;
            bottom: 0;
            z-index: 10;

            li {
                display: flex;
                gap: 1rem;
                align-items: center;

                a {
                    font-family: "Syne", sans-serif;
                    color: #fffff7;
                    font-weight: 600;
                    font-size: 18px;
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    text-decoration: none;
                    transition: 400ms;

                    svg {
                        transition: 400ms;
                    }

                    &:hover svg {
                        color: #70af69;
                    }

                    &:hover {
                        color: #70af69;
                    }
                }
            }

            @media (max-width: 766px) {
                justify-content: center;
                gap: 4rem;

                @media (max-width: 766px) {
                    gap: 2rem;

                    @media (max-width: 375px) {
                        border-bottom: none;

                        display: none;
                    }
                }
            }
        }
    }
}

.navBarMenuBtn.active {
    transform: translateY(0%);
}
