.swiperContainer {
    width: 100%;
    .containerStack {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-wrap: wrap;
        max-width: 2000px;
        z-index: 0 !important;

        .tech {
            display: flex !important;
            align-items: center;
            justify-content: center;
            background: #151515;
            border-radius: 8px;
            transition: 100ms;
            width: 23% !important;
            height: 100% !important;
            margin-left: 0.9rem;
            cursor: pointer;
            overflow: visible;

            svg {
                font-size: 80px;
                color: #7db660;
            }

            &:hover::after {
                position: absolute;
                content: attr(data-name);
                background: #70af69;
                text-align: center;
                font-family: "Syne", sans-serif;
                font-weight: 400;
                padding: 0.4rem 0;
                width: 100%;
                color: #222222;
                font-weight: 500;
                font-size: 1rem;
                border-radius: 4px;
                animation: skills 800ms ease-in-out forwards;
                transform: translateY(40px);
                z-index: 99;
            }

            @media (max-width: 1473px) {
                padding: 4rem 2rem;

                @media (max-width: 639px) {
                    width: 60% !important;
                }
            }
        }
    }
}
@keyframes skills {
    0% {
        opacity: 0;
        transform: translateY(350%);
    }

    100% {
        opacity: 1;
        transform: translateY(250%);
    }
}
