$cor-background: #0f0f0f;
$cor-titleSection: #1f1f1f;
$cor-btnWhite: #f4f4f4;
$cor-btnDestaque: #7db660;
$cor-colorDestaque: #7db660;
$cor-colorDestaque2: #fbd515;
$cor-btnAfter: #fbd515;
$cor-btnAfter2: #7db660;
$cor-text2: #d7d7d7;
$cor_menu: #ffffff;
$cor_stroke: #ffffff;
$cor_menu_hover: #fbd515;
$cor-text: #ffffff;
$cor-textRedesDiv: #636363e0;

$cor_service_dcr: #363636;
$cor_projeto_text: #1f1f1fea;
$cor_projeto_text-border: #1f1f1fb7;
$cor_projeto_text-border_hover: #7db660;
$cor_numerosText: #7db66033;
$cor_numerosTitle: #292929fa;
$cor_numerosBorder: #1f1f1f2c;

$width-display: 1600px;
$width-displayRedesDiv: 500px;
